.parentTable {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.8em;
}

.parentTable tbody:first-child tr td {
  border: 0;
}

.childTable tbody tr td {
  border: 0;
}

tr td {
  white-space: nowrap;
}

tr td:nth-child(4) {
  font-family: Open Sans,sans-serif;
  white-space: normal;
}

.joined > tr:first-child {
  border-bottom: none;
}

.joined > tr:last-child {
  border-top: none;
}

.joined > :last-child td {
  padding-left: 2em;
}

.required {
  color: red;
  vertical-align: super;
  font-size: 0.7em;
}

code {
  color: #c7254e;
  background-color: #f9f2f4;
}

.list {
  padding-left: 0;
  list-style-position: inside;
}
