.panel {
  border: 1px solid rgb(221, 221, 221);
  color: #222;
}

.panelHeading {
  background-color: #eee;
  padding: 1em;
}

.panelHeading a {
  font-size: 0.7em;
}

.topTable {
  border-collapse: collapse;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.topTable table {
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: 1px solid rgb(221, 221, 221);
  border-left: 1px solid rgb(221, 221, 221);
}

tr td:nth-child(4) {
  font-family: Sans-Serif;
}

tr {
  border-top: 1px solid rgb(221, 221, 221);
}

td {
  padding: 0.2em;
}

.joined > tr:first-child {
  border-bottom: none;
}

.joined > tr:last-child {
  border-top: none;
}

.joined > :last-child td {
  padding-left: 2em;
}

.required {
  color: red;
  vertical-align: super;
  font-size: 0.7em;
}

code {
  color: #c7254e;
  background-color: #f9f2f4;
}

.formats {
  list-style: none;
}

